*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

header, main, footer {
    max-width: $max-screen-width;
    margin-left: auto;
    margin-right: auto;
    padding: $padding-medium;
}

h1, h2, h3, h4, h5, p, label {
    color: $color-text;
}

p {
    font-size: $font-size-text;
    line-height: 1.875em;
}

h1 {
    font-size: $font-size-h1;
}