$color-black: #37454c;
$color-white: #ffffff;

$color-light-grey: #f4f4f4;
$color-grey: #e6e6e6;

$color-light-green: #e8f2e7;
$color-green: #8aaa89;

$color-button-primary: $color-green;
$color-button-secondary: $color-light-green;
$color-button-disabled: $color-grey;

$color-text: $color-black;