.total-ruler {
    border: none;
    border-bottom: 1px solid $color-grey;

    margin-top: 20px;
    margin-bottom: 20px;
}

.total-order-ticket {
    color: $color-text;
    font-weight: $font-weight-medium;
    display: flex;
}

.total-order-ticket span {
    margin-left: auto;
    color: $color-green;
}